* {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

body {
    margin:0;
    padding:0;
    background-color:#191e22;
    color: #EFEFEF;
}

body>header {
    background-color: rgb(19, 19, 19);
    color:#EFEFEF;
    margin-top: 0px;
    font-family: 'Varela Round', sans-serif;
}

body>header>div {
    display :inline-block;
    padding: 1rem;
    text-align: center;
    background-color: rgb(19, 19, 19);
    color:#EFEFEF;
    margin-top: 0px;
}


/*
body>header {
    display:inline-block;
    justify-content: center;

    font-family: 'Varela Round', sans-serif;
}

body>header>div {
    text-align: center;
    display :inline-block;

body>header>div> h1 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 500px 410px;
    padding: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
} */
nav {
   background-color: rgb(19, 19, 19);
   color: gray;
   padding: 0.1rem;
}

nav>ul {
    display: flex;
    justify-content: space-around;
}

nav>ul>li {
    list-style: none;
    /* border: 0.2rem white solid; */
    padding: 1rem;
    border-radius: 1rem;
}

nav a {
    color: #c8c9c9;
    text-transform: uppercase;
    font-weight: bold;
}

aside {
    border: 1px solid grey;
    position: absolute;
    top: 200px;
    right: 10px;
    z-index: 2;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(112, 130, 156);
}

aside>h4 {
    color: rgb(0, 170, 255);
}

footer {
    text-align: center;
    padding: 43px;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color:#62a8a9;
}

.noticia {
        width: 20%;
        margin: 10px;
        display: flex;
        padding: 45px;
        background-color: #3f7c7c;
        border: 1px solid #3b464a;
        border-radius: 15px;
}

#noticias {
    display: flex;
    
}


#comentarios h2 {
    text-align: center;
}

#comentarios {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
}

#comentarios * {
    display: flex;
    align-items: center;
    margin: 5px;
}

#comentarios>article {
    display: flex;
    margin: 1rem 1.5rem;
    /* border-top: 2px solid white; */
    border-bottom: 1px solid #758e97;
    padding: 1rem;
}

#comentarios>article>img {
    border-radius: 100%;
    width: 75px;
    height: 75px;
}

#comentario1 {
    border-bottom: 2px double #3f7c7c;
}

#comentario2 {
    border-bottom: 2px double #3f7c7c;
}

#comentario3 {
    border-bottom: 2px double #3f7c7c;
}

#tu_comentario {
    display: flex;
    width: 50vw;
    text-align: center;
    margin: auto;
  }

  #tu_comentario > div {
    padding: 1rem;
    margin: 1rem auto;
  }

  input, label, textarea {
    padding: 1rem;
    width: 40vw;
    display: block;
    margin: 10px;
    background-color: #ebeff0;
    border: 1px #758e97 solid;
    font-family: "Share Tech Mono", monospace;
  }

  button {
    padding: 1rem;
    border-radius: 30px;
    background-color: #358283;
    font-family: "Share Tech Mono", monospace;
    font-weight: bold;
  }

button:hover{
    background-color:#62a8a9;
    box-shadow: -6px 13px 53px -15px rgba(84,81,81,0.75);
}


h2 {
    text-align: center;
    text-transform: uppercase;
  }




small {
    margin-top: 0.2rem;
    font-size: 12px;
    color: silver;
}


.logos {
background: #62a8a9;
background: linear-gradient(135deg,#62a8a9 0%, #084141 90%);
background: -webkit-linear-gradient(135deg,#62a8a9 0%, #084141 90%);
background: -moz-linear-gradient(135deg,#62a8a9 0%, #084141 90%);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 45px;
}

.logos * {
    width: 15%;
}
